################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/MaisonDesLigues/v15/Server/sqlite3/db.lock
/.vs/MaisonDesLigues/v15/Server/sqlite3/storage.ide
/.vs/MaisonDesLigues/v15/Server/sqlite3/storage.ide-shm
/.vs/MaisonDesLigues/v15/Server/sqlite3/storage.ide-wal
